/* for mobiles */

@media only screen and (max-width:680px) and (min-width:250px){
    .nav_bar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        padding: 0%;
        margin-top: 60px;
        text-align: left;
        background-color: #9000ff;
        left: 100%;
        transition: 0.8s;
    }
    .nav_bar .slide{
        left: 40%;
        transition: 0.8s;
    }
    .nav_bar ul li{
        display: block;
        text-align: center;
        padding: 0%;
        margin: 0%;
        width: 60%;
    }
    .nav_bar ul li:hover{
        background-color: whitesmoke;
    }
    .nav_bar ul li:hover .a1{
        border: none;
        color: #9000ff;
    }
    .menu {
        float: right;
        padding: 18px 20px;
        display: block;
    }
    .menu .line{
        width: 25px;
        height: 5px;
        background-color: white;
        margin-bottom: 5px;
        display: block;
    }

    .line1{
        transform: rotate(45deg) translate(-0.5px,8px);
        transition: 0.2s;
    }
    .line2{
        display: none !important;
    }
    .line3{
        transform: rotate(-45deg) translate(-1px,-8px);
        transition: 0.2s;
    }

    .home{
        background-color:whitesmoke;
        height: 120vh;
        width: 100%;
    }
    .home .content{
        margin: 45% 10%;
        padding: 0%;
        width: 85%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-family: sans-serif;
    }
    .home .content #note, #name{
        color: black;
        font-family: sans-serif;
    }
    .home .content span{
        color: #9000ff;
        font-family: sans-serif;
    }
    .home .content h2{
        margin-top: -2%;
    }
    .home .content h3{
        color: black;
        font-family: sans-serif;
    }
    .home .content p{
        margin: 2% 0%;
        color: #9000ff;
    }
    .content .a2 {
        text-decoration: none;
        background-color: #9000ff;
        margin: 3% 0%;
        width: 58%;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-weight: bold;
        align-items: center;
        padding: 15px 15px;
        border-radius: 10px;
    }
    .content .a2:hover{
        color: #9000ff;
        background-color: #f3f3f3;
    }
    .content .a2 i{
        padding-right: 20px;
    }
    .content .a2:hover i{
        animation: down 0.5s infinite;
    }
    @keyframes down{
        0%{
            color: white;
        }
        100%{
            color: #9000ff;
        }
    }

    .home .content img {
        display: flex;
        width: 300px;
        height: 400px;
        margin-left: 60px;
        margin-top: -20px;
    }

  
/* about section */

    .aboutUs {
        width: 100%;
        min-height: 130vh;
        margin: 0%;
        padding: 0%;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .aboutUs h2 {
        display: block;
        text-align: center;
        margin-top: 90px;
        margin-bottom: 20px;
        font-size: 40px;
        text-shadow: 1px 2px 10px 1px #000000;
        color: #9000ff;
        font-weight: bold;
    }
    .aboutUs img {
        width: 300px;
        height: 380px;
        margin: 25% 25%;
        box-shadow: 2px 3px 20px 3px black;
        border-radius: 30px;
    }
    .aboutUs .about_content p {
        font-size: 24px;
        padding: 15px;
        margin-top: -170px;
        margin-right: 100px;
        width: 320px;
    
    }
    .aboutUs:hover img{
        transform: translateY(-100px);
        transition: 1s;
    }

/* skills section */

    .skills .known {
        width: 100%;
        height: 110vh;
        margin-top: 130px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .skills .known h2{
        width: 100%;
        margin: 15% 1%;
        border: none;
    }
    .skills .known ul{
        width: 100%;
        margin: -10% -33%;
        padding: 0%;
    }
    .skills .known ul li{
        margin-top: 20px;
        width: 95%;
        height: 6%;
        justify-content: center;
    }
    .skills .known ul li a{
        margin-left: 3px;
    }
    #para1{
        padding-left: 205px;
        padding-top: 10px;
        font-weight: bold;
    }
    #para2{
        padding-left: 230px;
        padding-top: 10px;
        font-weight: bold;
    }
    #para3{
        padding-left: 160px;
        padding-top: 10px;
        font-weight: bold;
    }
    #para4{
        padding-left: 190px;
        padding-top: 10px;
        font-weight: bold;
    }
    .list1:hover{
        transform: scale(1,1);
    }
    .skills .img1,.img2,.img3{
        display: none;
    }

    .skills .sticky{
        display: none;
    }


/* project section */

    .projects{
        width: 100%;
        min-height: 150vh;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects h2{
        width: 100%;
        margin-top: 120px;
        border: none;
    }
    .projects .row{
        margin: 10px 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .projects .row .card-body {
        background-color: #9000ff;
        padding: 30px;
        border-radius: 20px;
        color: whitesmoke;
        margin-bottom: 15px;
    }
   
/* contact section */

    .contactUs{
        width: 100%;
        min-height: 150vh;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactUs h2 {
        font-size: 28px;
        color: white;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .contactUs .info {
        background-color: #9000ff;
        width: fit-content;
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
        text-align: left;
        font-size: 22px !important;
    }

    .contactUs .form {
        background-color: whitesmoke;
        width: 78%;
        text-align: left;
        padding: 30px;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 45px;
    }
    .contactUs .form #name {
        margin-left: 3%;
        padding: 1%;
        
    }
    .contactUs .form #pwd,#email {
        margin-left: 3%;
        padding: 1%;
        
    }
    .contactUs .form textarea {
        margin-left: 3%;
        padding: 2%;
       
    }
    .contactUs .form #btn {
        color: white;
        background-color: #9000ff;
        padding: 8px 30px;
        border-radius: 10px;
        border: none;
        margin: 10% 30%;
    }
    
/* copyright section */

    #p1 p {
        text-align: center;
        padding-top: 4%;
    }

}












@media only screen and(min-width:680px),(max-width:1024px) {
    .nav_bar{
        display: inline;
    }
    .nav_bar ul li:hover{
        background-color: white;
        color: #9000ff;
        cursor: pointer;
    }
    
    .nav_bar ul li .a1{
        color:white;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        padding: 0px 25px;
        transition: 0.8s;
    }
    
    .nav_bar ul li:hover .a1{
        color:black;
    }
    


    .home{
        background-color:whitesmoke;
        height: 120vh;
        width: 100%;
    }
    .home .content {
        margin: 35% 20%;
        padding: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-family: sans-serif;
    }
    .home .content #note, #name{
        color: black;
        font-family: sans-serif;
    }
    .home .content span{
        color: #9000ff;
        font-family: sans-serif;
    }
    .home .content h2{
        margin-top: 2%;
    }
    .home .content h3{
        color: black;
        font-family: sans-serif;
    }
    .home .content p{
        margin: 2% 0%;
        color: #9000ff;
    }
    .content .a2 {
        text-decoration: none;
        background-color: #9000ff;
        margin: 3% 0%;
        width: 58%;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-weight: bold;
        align-items: center;
        padding: 15px 15px;
        border-radius: 10px;
    }
    .content .a2:hover{
        color: #9000ff;
        background-color: #f3f3f3;
    }
    .content .a2 i{
        padding-right: 20px;
    }
    .content .a2:hover i{
        animation: down 0.5s infinite;
    }
    @keyframes down{
        0%{
            color: white;
        }
        100%{
            color: #9000ff;
        }
    }

    .home .content img {
        display: flex;
        width: 400px;
        height: 500px;
        margin-left: 40px;
        margin-top: 70px;
    }

    .wrapper{
        display: none;
    }

/* about section */

    .aboutUs {
        width: 100%;
        min-height: 130vh;
        margin: 0%;
        padding: 0%;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .aboutUs h2 {
        display: block;
        text-align: center;
        margin-top: 90px;
        margin-bottom: 20px;
        font-size: 40px;
        text-shadow: 1px 2px 10px 1px #000000;
        color: #9000ff;
        font-weight: bold;
    }
    .aboutUs img {
        width: 300px;
        height: 380px;
        margin: 25% 20%;
        box-shadow: 2px 3px 20px 3px black;
        border-radius: 30px;
    }
    .aboutUs .about_content p {
        font-size: 24px;
        padding: 15px;
        margin-top: -170px;
        margin-right: 80px;
        width: 320px;
    
    }
    .aboutUs:hover img{
        transform: translateY(-100px);
        transition: 1s;
    }

/* skills section */

    .skills .known {
        width: 100%;
        height: 100vh;
        margin-top: 130px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .skills .known h2{
        width: 100%;
        margin: 15% 1%;
        border: none;
    }
    .skills .known ul{
        width: 100%;
        margin: -10% -33%;
        padding: 0%;
    }
    .skills .known ul li{
        margin-top: 20px;
        width: 95%;
        height: 6%;
        justify-content: center;
    }
    .skills .known ul li a{
        margin-left: 3px;
    }
    #para1{
        padding-left: 205px;
        padding-top: 10px;
        font-weight: bold;
    }
    #para2{
        padding-left: 230px;
        padding-top: 10px;
        font-weight: bold;
    }
    #para3{
        padding-left: 160px;
        padding-top: 10px;
        font-weight: bold;
    }
    #para4{
        padding-left: 190px;
        padding-top: 10px;
        font-weight: bold;
    }
    .list1:hover{
        transform: scale(1,1);
    }
    .skills .img1,.img2,.img3{
        display: none;
    }

    .skills .sticky{
        display: none;
    }


/* project section */

    .projects{
        width: 100%;
        min-height: 110vh;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects h2{
        width: 100%;
        margin-top: 10px;
        border: none;
    }
    .projects .row{
        margin: 10px 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .projects .row .card-body {
        background-color: #9000ff;
        padding: 30px;
        border-radius: 20px;
        color: whitesmoke;
        margin-bottom: 15px;
    }
   
/* contact section */

    .contactUs{
        width: 100%;
        min-height: 120vh;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactUs h2 {
        font-size: 28px;
        color: white;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .contactUs .info {
        background-color: #9000ff;
        width: fit-content;
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
        text-align: left;
        font-size: 22px !important;
    }

    .contactUs .form {
        background-color: whitesmoke;
        width: 78%;
        text-align: left;
        padding: 30px;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 45px;
    }
    .contactUs .form #name {
        margin-left: 3%;
        padding: 1%;
        
    }
    .contactUs .form #pwd,#email {
        margin-left: 3%;
        padding: 1%;
        
    }
    .contactUs .form textarea {
        margin-left: 3%;
        padding: 2%;
       
    }
    .contactUs .form #btn {
        color: white;
        background-color: #9000ff;
        padding: 8px 30px;
        border-radius: 10px;
        border: none;
        margin: 10% 30%;
    }
    
/* copyright section */

    #p1 p {
        text-align: center;
        padding-top: 4%;
    }

} 
